body {
  margin: 0;
  font-family: "Tahoma", sans-serif;
  background-color: #c3c3c3;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* селектор тега */
p {
  color: green;
  background-color: #c3c3c3;
}

/* селектор класса */
.blue {
  background: aquamarine;
}

/* селектор идентификатора */
#title {
  background-color: brown;
}
